{% extends 'base.html' %}

{% block title %}
<title>회원가입</title>
{% endblock title %}

{% block contents %}
    <br><br><br>
<form method="POST" action="{% url 'community:signup' %}">
    {% csrf_token %}
    <ul>
        <h2 class="fw-bolder">[회원가입]</h2>
        <h5>username</h5>
        <input type="text" name="username">
        <br>
        <h5>password</h5>
        <input type="password" name="password">
        <br>
        <p>confirm</p>
        <input type="password" name="confirm">
        <br>
        <input type="submit" value="회원가입">
    </ul>
</form>
{% endblock %}